@font-face{
    font-family:"gteesti";
    src:url("../font/GT-Eesti-Pro-Display-Trial-Light.otf"); format("opentype");
}

body{
	font-family: "gteesti", arial, sans-serif;
    font-size: 62.5%;
    background: #f2f2f2;
    color: #333;
    max-width: 100%;
}

div.page{
    max-width: 940px;
    padding: 0em 2%;
    margin: 0 auto;
    background-color: #fff;
    font-size: 1.6em;
    border-right: 0.5px solid rgba(0,0,0,0.3);
    border-left: 0.5px solid rgba(0,0,0,0.3);
}

/* HEADER ------------------------------------------------- */

.header{
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    display: flex;
}

.header__title1{
    display: block;
    font-size: 0;
    overflow: hidden;
}

.list--info{
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.item--logo:first-child{
    flex:2;
}

.logo{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    color: #054752;
}

.logo__img{
    width: 7%;
    min-width: 20px;
    height: auto;
    position: relative;
    bottom:5px;
}

.list__text{
    display: inline;
}

.item--research, .item--send{
    box-sizing: border-box;
    padding: 8px 32px 8px 18px;
    line-height: 1.25;
    border-radius: 15px;    
    background-color: rgb(69,176,245);
    text-align: center;
}

.item--research{
    margin-left: 13em;
}

.item--send{
    margin: 0em 0% 0em 2.5531915%;
}

.item--research:hover,.item--send:hover{
    background-color: rgb(56,143,193);
}

.link--search, .link--send{
    color: white;
    margin:0 auto;
    text-decoration: none;
    font-size: 16px;
}

.fa-search{
    color: white;
    padding:0em 0.5em 0em 0.3em;
}

.fa-envelope{
    color: white;
    padding:0em 0.5em 0em 0.3em;
}

.avatar--img{
    width: 40px;
    height: 40px;
    margin-left: 4.2553191%;
}

.item--avatar{
    display: flex;
    align-items: center;
    flex:2;
    justify-content: flex-end;
}

.link--profil{
    text-decoration: none;
    color:rgb(69,176,245);
    font-weight: bold;
    margin-right: 5%;
}

.header__button{
     background-image: url(../img/burger.png);
     width: 30px;
     height: 20px;
     border-radius:none;
     box-shadow: none;
     border:none;
     background-color: white;
     display: none;
     margin-left: 1.5em;
}

/* NAV PRINCIPAL --------------------------------------------------------------- */

.nav__title1{
    display: block;
    font-size: 0;
    overflow: hidden;
}

.list--nav{
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    padding: 11px 0px;
    text-align: left;
    box-shadow:1px 1px 5px rgba(5,71,82,0.05) inset, -1px -1px 5px rgba(5,71,82,0.1) inset;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}


.link--nav{
    text-decoration: none;
    color: rgb(69,176,245);
    padding: 11px 14px;
    font-size: 14px;
    letter-spacing: .2px;
    border: 1px solid transparent;
}

.link--nav:hover {
    background-color: rgb(247,247,247);

}

/*nav li a[data-active="true"]{
!*    //color: rgb(112,140,145);
    transform: scale(1.1);
    background-color: white;
    //padding-top: 20px;
    //padding-bottom: 10px;
    border: 1px solid rgb(240,240,240);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    color: #708C91;
    margin-top: -5px;
    height: 20px;
    padding-top: 13px;*!
}*/

.link--nav[data-active="true"]{
    color:#708C91;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0px 0px;
    padding-top: 17px;
    margin-top: -5px;
}


[target="true"]+.list{
    border:0.5px solid rgb(210,210,210);
}




/* CONTACT ------------------------------------------------------------------------ */

.contact{
    background-color: rgb(237,237,237);
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 17px;
    //width: 96.382979%;
    height: 77px;
    padding : 17px;
    position: relative;
    padding-bottom:30px;
}

.contact__div{
    display: flex;
}

.contact__link{
    order: -1;
    width: 80px;
    height: 80px;
}

.contact__img{
    width: 80px;
    height: 80px;
}

.contact__title1{
    font-size: 1.3em;
    color: #4A463E;
    margin-top: 0.3em;
    margin-left: 0.2em;
}

.list--contact{
     position: absolute;
     left: 105px;
     bottom: 12px;
}

.item--info{
    font-size: 13px;
    color: rgb(69,176,245);
    margin-bottom: 0.5em;
}

.link--site, .link--download{
    font-size: 13px;
    color: rgb(69,176,245);
    margin-bottom: 0.5em;
}

.link--site{
    text-decoration: none;
}

.link--download{
    color:grey;
    padding-left:.5em;
}

/* CONTENU ----------------------------------------------------------*/

.contenu{
    display: flex;
}

.contenu__centre{
    width: 620px;
    margin-left: 20px;
}


/* ASIDE ------------------------------------------------------------- */

.fa-exclamation-circle{
    color: rgb(236,100,51);
}

.skills__color{
    color: rgb(69,176,245);
}


h1.hidden{
    display: block;
    font-size: 0;
    overflow: hidden;
}

.contenu__aside{
    width: 15em;
    border: 1px solid rgb(230,230,230);
    padding: 1.5em;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
}

.aside__title1, .aside__title2, .aside__title3, .aside__title4{
    font-size: 16px;
    margin: 0em 1.5em 1em 0em;
    color: rgb(27,71,82);
}

.aside__title2, .aside__title3, .aside__title4{
    border-top: 1px solid rgb(230,230,230);
    padding-top: 1em;
    margin-top: 1em;
}
.item--preference, .item--coordonnees, .item--logociels, .item--competences{
    display: block;
    font-size: 14px;
    color: rgb(108,210,103);
    padding: 0.5em;
    margin: 0.3em;
}

.fa-check-circle-o {
    color: rgb(108,210,103);
    margin-right: 0.3em;
}

.link--mail{
    color: rgb(108,210,103);
    text-decoration: none;
}

.contenu__title2 :target{
    background-color: black;
}

.span--mail{
    padding-left: 1.3em;
}

.list--preference{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.fa-lightbulb,.fa-pencil-alt,.fa-laptop{
    color: rgb(69,176,245);
    font-size: 2em;
    margin-bottom: .5em;
}

.item--preference{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ETUDES ------------------------------------------ */

/*.etudes h2, .Stages h2, .Jobs h2{
    color: rgb(27,71,82);
    font-size: 22px;
    line-height: 28px;
    border-bottom: 1px solid rgb(230,230,230);
    padding-bottom: 0.6em;
    margin:0.5em 0em 0.8em 1em;
}*/

.centre__title1, .centre__title2, .centre__title3{
    color: #054752;
    font-size: 22px;
    line-height: 28px;
    border-bottom: 1px solid rgb(230,230,230);
    padding-bottom: 0.3em;
    margin-bottom: .8em;
}

.fa-graduation-cap{
    color: rgb(27,71,82);
}

.fa-handshake-o{
    color: rgb(27,71,82);
}

.fa-briefcase{
    color: rgb(27,71,82);
}

.etudes__span, .stages__span, .jobs__span{
    font-weight: bold;
    font-size: 14px;
    font-family: Helvetica;
    text-transform: uppercase;
    color: #727272;
}

.item--etudes, .item--stages, .item--jobs{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    line-height: 1.6;
    margin-bottom: 1em;
}

.item--etudes:last-child, .item--stages:last-child, .item--jobs:last-child{
    margin-bottom: 2.5em;
}

/* FOOTER --------------------------------------------------- */

.footer{
    background-color: #F2F2F2;
    border-right: 0.5px solid rgba(0,0,0,0.3);
    border-left: 0.5px solid rgba(0,0,0,0.3);
    border-bottom: 0.5px solid rgba(0,0,0,0.3);
    max-width: 940px;
    padding: 0 2% 5em;
    margin: 0 auto 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__title1, .footer__title2, .footer__title3{
    /*font-weight: bold;
    font-size: 18px;
    margin-bottom: 1.3em;*/
    margin: 0 0 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.footer__info{
    margin-left: 3.3em;
    margin-top: 4em;
}


.footer__propos, .footer__reseaux, .footer__access{
    margin-top: 4em;
}

.link--footer{
    //text-decoration: none;
    color: rgb(69,176,245);
    font-size: 16px;
    line-height: 1.2;
}

.item--footer{
    margin: 1em 0em;
    line-height: 2;
}

.fa-facebook-square, .fa-linkedin, .fa-instagram{
    color:#0071A0;
    font-size: 16px;
    margin-right: 0.2em;
}

.item-access:first-child{
    border-radius: 8px 8px 8px 8px; 
    width: 120px;
    color: white;
    background-color: #333333;
    font-family: helvetica, arial, sans-serif;
    padding: 0.5em;
    margin:0 auto;
    line-height: 1.2;
}

.span--access{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.item-access:last-child{
    background-color: #fff;
    border :0.5px solid rgba(0,0,0,0.3);
    color: black;
    margin-top: 1em;
    padding:0em 0.5em;
    width: 120px;
    font-family: Helvetica, arial, sans-serif;
}

.fa-desktop{
    color: white;
    font-size: 30px;
}

.copyright--text{
    position: absolute;
    bottom: 15px;
    left: 60px;
    font-size: 11px;
    color: #333333;
}

.item--lang{
    margin: 1.5em auto;
}

.network--text{
    display: inline;
}

.hidden{
    display: block;
    font-size: 0;
    overflow: hidden;
}



/*footer{
    border-bottom: 50px solid #ddd;
}*/

/*MEDIAQUERY ------------------------------------ */
@media(max-width:850px){

     .footer{
        display: flex;
        flex-direction: column;
    }

    .copyright--text{
        margin-left: initial;
    }
    .link--works, .network--text{
        display: none;
    }

    .footer--flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .list--footer{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__info{
        margin-left: initial;
    }
    .link--works{
        text-indent: -9999px;
        background: url("../img/logos.png") no-repeat;
        display: block;
        width: 82px;
        height: 82px;
        margin: initial;
    }

    .link--works{
        display: none;
    }

    .link--clae{
        background-position: -41px -111px;
    }

    .link--carrefour{
        background-position: -319px -19px;
    }

    .link--hepl{
        background-position: -134px -112px;
    }

    .link--ardentes{
        background-position: -226px -19px;
    }

    .link--hec{
        background-position: -134px -18px;
    }

    .link--libellula{
        background-position: -413px -112px;
    }

    .link--meuse{
        background-position: -42px -18px;
    }

    .link--pauvre{
        background-position: -504px -19px;
    }

    .link--camping{
        background-position: -505px -111px;
    }

    .link--pimkie{
        background-position: -318px -110px;
    }

    .link--kbl{
        background-position: -411px -19px;
    }

    .link--casa{
        background-position: -228px -112px;
    }

    .link--works{
        display: inline-block;
        margin: 0 0.5em;
    }

    .footer__title1, .footer__title2, .footer__title3{
        text-align: center;
    }
    .link--questions{
        margin: 0 1em;
    }
    .fa-linkedin, .fa-instagram, .fa-facebook-square{
        font-size: 3em;
        margin: 0 0.2em;
    }
    .item--access:last-child{
        margin: 1.5em auto;
    }
    .copyright--text{
        text-align: center;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .list__text{
        display: none;
    }
    .item--research, .item--send{
        border-radius:50%;
        width: 50px;
        height: 50px;
        position: relative;
    }
    .fa-search{
        display: block;
        position: absolute;
        top: 17px;
        left: 12px;
    }
    .fa-envelope{
        position: absolute;
        top: 17px;
        left: 13px;
    }
}
@media(max-width:700px){
    .contenu__centre{
        width: 98%;
        margin: 0 auto;
    }
    .item--research{
        margin-left: 2em;
    }

    .header__button{
        display: block;
        margin-right: .1em;
    }
    .nav{
        display: none;
    }
    .list--nav{
         display: flex;
         flex-direction: column;
    }
   .item--nav{
        margin: .8em 0;
        border-bottom: 1px solid rgb(230,230,230);
        text-align: center;
        padding-bottom: 1.5em;
    }
    .item--nav:last-child{
        border:none;
        padding:initial;
    }
    .link--nav{
        font-size:1em;
    }
    .link--nav:hover, .link--nav[data-active="true"]{
        color: rgb(112,140,145);
        border: none;
        transform: scale(1.1);
        background-color: initial;
        padding-top: 20px;
        padding-bottom: 15px;
        border-top:none;
        border-radius: none;
        border-color: none;
    }
    [target="true"]+.list{
        border:0.5px solid rgb(210,210,210);
    }
    .contenu{
        display: block;
    }
    .contenu__aside{
        width:initial;
        margin-bottom: 3em;
    }
    .centre__title1, .centre__title2, .centre__title3{
        margin-left: initial;
    }

    .list--jobs{
        padding-bottom: 2em;
    }

    .mail{
        padding-left:initial;
    }
    
}
    
@media(max-width:626px){
    .propos ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
    
@media(max-width:550px){
    .link--profil{
       display: none; 
    }
    .logo{
        font-size: 1.3em;
    }
    .link--download{
        padding-left:1.5em;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 160px;
    }
    .contact__div{
        display: flex;
        flex-direction: column;
    }
    .contact__link{
        margin-left:3.3em;
        order: 0;
    }
    
    .fa-long-arrow-right{
       display: none; 
    }
    .contact__div{
        margin: 0auto;
    }
    .list--contact{
        text-align: center;
        margin-top: .5em;
        margin-left: 5.3em;
    }
    .link--download{
        display: block;
        margin-top:.5em; 
    }
    .contact__img{
        margin-top: 1em;
    }
}

@media (max-width: 450px) {
    .list--contact{
       margin-left: 1.3em;
    }
    .link--img{
        display: none;
    }
}

@media(max-width:400px){
    .logo{
        font-size:1em;
    }

    .stages__text{
        font-size: .9em;
    }

    .list--contact{
        left: 80px ;
    }

}

@media (max-width: 375px) {
    .list--contact{
        left: 80px ;
    }
}


/*--------------------------------------------------------------------*/

.change{
    display:block;
}
  


















